* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.top-nav {
  background-color: #0282f9;
}
.top-nav .top-nav-links {
  text-align: end;
}
.top-nav a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.main-nav {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-nav .logo img {
  width: 60px;
}
.main-nav a {
  color: black;
  text-decoration: none;
  margin: 0px 10px;
  padding: 30px 0;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}

.jumbotron {
  height: 400px;
  background-image: url(../images/jumbotron.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

main .home-content {
  background-color: #1c1c1c;
  position: relative;
}
main a {
  text-decoration: none;
}
main h3 {
  text-transform: uppercase;
  color: white;
  background-color: #0282f9;
  padding: 10px;
  text-decoration: none;
}
main .load-more {
  margin: auto;
}
main .load-more a {
  text-transform: uppercase;
  color: white;
  background-color: #0282f9;
  padding: 10px;
  text-decoration: none;
}
main h3 {
  position: absolute;
  top: -15px;
}
main .comic h6 {
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin: 5px 0;
}

.cover {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}

.comics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 0;
}

.comic {
  width: calc(100% / 6);
  margin: 30px 0;
  padding: 0 10px;
}

#active {
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
}

.info {
  background-color: #0282f9;
  padding: 20px 0;
  margin-top: 20px;
}
.info .container, .info .info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info h5 {
  text-transform: uppercase;
  color: white;
}
.info img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.small-container {
  width: 70%;
  margin: auto;
}

.top-content {
  display: flex;
}

.left-content {
  width: 70%;
}

.right-content {
  width: 30%;
}

.divider {
  height: 80px;
  background-color: #0282f9;
}

.comic-cover {
  position: absolute;
  top: 270px;
}

.green-info {
  display: flex;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
}

.availabilty {
  margin-left: 15px;
}