.small-container{
    width: 70%;
    margin: auto;
}
.top-content{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.left-content{
    width: 70%;
}
h1{
    padding-bottom: 15px;
    color: $dark_blue;
    text-transform: uppercase;
}
.description p{
    line-height: 2;
}
.right-content{
    width: 30%;
}
.adv img{
    width: 100%;
    padding-left: 20px;
}
.adv h4{
    text-align: end;
    color: grey;
    text-transform: uppercase;
}
.divider{
    height: 80px;
    background-color: $primary_blue;
}
.comic-cover{
    position: absolute;
    top: -245px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}
.availabilty{
    margin: auto;
    border-left: 1px solid black;
}
.d-flex , .availabilty{
    padding: 10px;
}
.green-info{
    display: flex;
    background: $dark_green;
}
.price-info span , .available-info h6{
    color: $light_green;
}
.price-info p , .availabilty p{
    color: white;
}
.bottom-info{
    background-color: rgba(246, 246, 246, 1);
    margin-top: 15px;
    padding-bottom: 60px;
    h5{
        color: $dark_blue;
        text-transform: capitalize;
    }
}
.bottom-info .small-container{
    display: flex;
}
.talent , .specs{
    width: 50%;
}
.specs{
    margin-left: 15px;
}
.series-info a{
    color: $primary_blue;
    text-transform: uppercase;
}
.art-by , .written-by{
    a{
        color: $primary_blue;
    }
}
.bottom-info h2{
    padding: 20px 0;
    color: $dark_blue;
}
.art-by , .written-by , .series , .on-sale , .us-price{
    display: flex;
    padding: 10px 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.written-by-title , .art-by-title , .series-title , .us-price-title , .onsale-title{
    min-width: 30%;
}
.shopinfo{
    background-color: rgba(246, 246, 246, 1);
    border-top: 1px solid lightgray;
}