footer{
    position: relative;
    .footer-top{
    background-image: url(../../images/footer-bg.jpg);
    }
    .footer-links{
        display: flex;
    }
    h3{
        color: white;
        text-transform: uppercase;
        padding: 15px 0;
    }
    ul{
        list-style: none;
        li{
            color: grey;
        }
    }
    .dc-comics_shop , .dc , .sites{
        width: 14%;
    }
    p{
        color: gray;
        width: 25%;
        font-size: 13px;
        padding: 20px 0;
        a{
            color: $primary_blue;
            text-decoration: none;
        }
    }
    .bg{
        z-index: 1;
        position: absolute;
        right: 100px;
        bottom: 30px;
    }
    .footer-bottom{
        position: relative;
        z-index: 2;
        background-color: rgba(48, 48, 48, 1);
        padding: 15px 0;
        button{
            background-color: transparent;
            border: 3px solid $primary_blue;
            color: white;
            text-transform: uppercase;
            padding: 10px;
            font-weight: bold;
        }
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .social{
            display: flex;
            align-items: center;
        }
        .follow-us{
            margin: 0 15px;
        }
        h4{
            text-transform: uppercase;
            color: $primary_blue;
        }
    }
}