@import "partials/variables";
@mixin blue-button {
    text-transform: uppercase;
    color: white;
    background-color: $primary_blue;
    padding: 10px;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}

@import "partials/header";
@import "partials/main-home-page";
@import "partials/main-single-page";
@import "partials/footer";
