@mixin blue-button {
    text-transform: uppercase;
    color: white;
    background-color: rgba(2, 130, 249, 1);
    padding: 10px;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
.top-nav{
    background-color: rgba(2, 130, 249, 1);
    .top-nav-links{
        text-align: end;
    }
    a{
        color: white;
        font-size: 12px;
        text-decoration: none;
    }
}
.main-nav{
    .logo img{
        width: 60px;
    };
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
        color: black;
        text-decoration: none;
        margin: 0px 10px;
        padding: 30px 0;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
    }
}
.jumbotron{
    height: 400px;
    background-image: url(../images/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    background-color: rgba(28, 28, 28, 1);
    position: relative;
    a{
        text-decoration: none
    }
    h3 {
        @include blue-button;
    }
    .load-more{
        margin: auto;
        a{
            @include blue-button
        }
    }
    h3{
        position: absolute;
        top: -15px;
    }
    h6{
        text-transform: uppercase;
        color: white;
        text-align: center;
        margin: 5px 0;
    }
}
.cover{
    height: 250px;
    background-size: cover; 
    background-repeat: no-repeat;
}
.comics{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 0;
}
.comic{
    width: calc(100% / 6);
    margin: 30px 0;
    padding: 0 10px;
}
#active{
    color: rgba(2, 130, 249, 1) ;
    border-bottom: 4px solid rgba(2, 130, 249, 1);
}
.info{
    background-color:rgba(2, 130, 249, 1) ;
    padding: 20px 0;
    margin-top: 20px;
    .container , .info-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h5{
        text-transform: uppercase;
        color: white;
    }
    img{
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
}